<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
    <style>
        /* Estilos globales */
        body {
            background-color: #1C1C1C;
            color: white;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
        }

        /* Estilos del círculo de perfil */
        .circle {
            width: 150px;
            height: 150px;
            background-image: url('http://imgfz.com/i/iBNyls2.jpeg'); /* Reemplaza 'URL_DE_TU_FOTO' con la URL de tu foto */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            margin: 0 auto;
        }

        /* Estilos de las barras de progreso */
        .tech-skill {
            margin-bottom: 20px;
        }

            .tech-skill p {
                margin: 0;
                font-weight: bold;
            }

        .progress {
            height: 25px;
            background-color: #333;
        }

        .progress-bar {
            background-color: #007BFF;
            line-height: 25px;
        }

        /* Estilos de los íconos de redes sociales */
        .social-icons {
            text-align: center;
            margin-top: 20px;
        }

        .social-icon {
            width: 30px;
            height: 30px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Mi Información</h1>
        <div class="circle"></div>
        <p>Mi nombre es Iván y soy un apasionado del desarrollo web y la programación. A lo largo de mi carrera, he tenido la oportunidad de trabajar con una variedad de tecnologías y lenguajes de programación. Algunas de las tecnologías con las que he trabajado incluyen HTML y CSS, que son fundamentales para la creación de sitios web atractivos y funcionales. También he explorado el mundo de la programación en C#, un lenguaje versátil que he utilizado en el desarrollo de aplicaciones de escritorio y en el entorno de desarrollo Xamarin, que me ha permitido crear aplicaciones móviles multiplataforma emocionantes.</p>

        <h2>Lenguajes y Tecnologías</h2>
        <div class="tech-skill">
            <p>HTML</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
        <div class="tech-skill">
            <p>C#</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
            </div>
        </div>
        <div class="tech-skill">
            <p>CSS</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
            </div>
        </div>
        <div class="tech-skill">
            <p>Xamarin</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
            </div>
        </div>

        <h2>Redes Sociales</h2>
        <div class="social-icons">
            <a href="https://www.instagram.com/ivansoto.0" target="_blank">
                <img class="social-icon" src="https://static.vecteezy.com/system/resources/previews/012/068/415/non_2x/concept-of-social-networks-instagram-icon-3d-render-free-png.png" alt="Instagram">
            </a>
            <a href="https://github.com/ivannew" target="_blank">
                <img class="social-icon" src="https://cdn3d.iconscout.com/3d/free/thumb/free-github-2950150-2447911.png" alt="GitHub">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img class="social-icon" src="https://cdn.icon-icons.com/icons2/2864/PNG/512/facebook_logo_icon_181742.png" alt="Facebook">
            </a>
            <!-- Agrega más enlaces e íconos de redes sociales aquí -->
        </div>
    </div>
</body>
</html>
